.topnav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333;
    overflow: hidden;
    border-radius: 15px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 15px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    transition: 500ms;
}

.topnav a.active {
    background-color: #2165db;
    color: white;
}